* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 48, 48);
}

fieldset,
.main-wrapper,
.right-frame,
#sign-up-form,
.logo,
.top {
    display: flex;
}

.main-wrapper {
    max-width: 1080px;
    min-height: 960px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(160, 160, 160);
}

.left-frame {
    height: 100vh;
    width: 40%;
    background-image: url(/images/sign-up-bg-large.png);
    background-size: cover;
    background-position: center center;
}

.logo {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 200px;
    padding: 15px;
}

.logo-img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    flex: 0;
}

.logo-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6rem;
    color: wheat;

}

.right-frame {
    flex-direction: column;
    width: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top {
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    height: 35vh;
    padding: 30px
}

p {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 4px;
}

form {
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    background-color: rgb(36, 36, 36);
    font-size: 1rem;
    color: wheat;
    padding: 30px;
}

.form-group{
    width: 50%;
    margin: 10px 0px;
}

legend {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

fieldset {
    border: none;
}

input {
    width: 90%;
    height: 2rem;
    font-size: 1.25rem;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 4px;
}

.pwd-match-error {
    font-size: 0.75rem;
    color: red;
}

.bottom {
    height: 35vh;
    padding: 30px;
}

button {
    background-color: rgb(17, 17, 53);
    color:wheat;
    font-size: 1.6rem;
    border-radius: 10px;
    padding: 10px 50px;
    margin-bottom: 30px;
}

.login {
    font-size: 1.5rem;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: rgb(20, 20, 77);
}